<button id="scrape">Scrape</button>

<div class="container">
  <ul>
    {{#each articles}}
          <li>
            {{this.title}}
            <a href={{this.link}}>{{this.link}}</a>
          </li>
    {{/each}}
  </ul>
</div>
